@use "./sass/index" as *;

html {
  font-size: 63.5%;
}

body {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-flow: column-reverse;
  height: 100vh;
  background: $black;
}

