@use './variables';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@mixin font-face($family, $size: 1.6rem, $weight: normal, $style: normal) {
	@if $family == 'qsand' {
		font-family: "Quicksand", sans-serif;
	}
	font-weight: $weight;
	font-style: $style;
	font-size: $size;
}

@mixin page-style() {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 2rem;
}

@mixin title-style() {
	color: variables.$almond;
	@include font-face('qsand', 4rem, 700);
	padding-bottom: 1rem;
}

