@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@mixin font-face($family, $size: 1.6rem, $weight: normal, $style: normal) {
	@if $family == 'qsand' {
		font-family: "Quicksand", sans-serif;
	/* } @else if $family == 'Cabin'{ */
		/* font-family: 'Cabin', monospace; */
	}
	font-weight: $weight;
	font-style: $style;
	font-size: $size;
}
