$black-1: #030304;
$black-2: #1F1F1F;
$black-3: #212023;

$gray-1: #4B4D5C;
$gray-2: #898991;

$white: #EBEBEB;

$orange: #FF7B54;

$purple-1: #8E8ACA;
$purple-2: #EEEFFA;


$black: #0A0908;
$rich-black: #0F161A;
$almond: #EAE0D5;
$khaki: #C6AC8F;
$walnut-brown: #5E503F;
