@use '../../styles/sass/index' as *;

@mixin link-styles() {
  text-decoration: none;
  border-radius: 1rem;
  height: 6rem;
  width: 6rem;

  @include font-face('qsand', 1.4rem);

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}


.container {
  background: $almond;
  border-radius: 3rem;
  margin: 0 2rem 3rem 2rem;

  & ul {
    width: calc(100vw - 4rem);
    height: 6rem;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .li {
    list-style-type: none;
  }

  .link {
    @include link-styles();
    color: $walnut-brown;

    .icon {
      width: 8rem;    
      stroke: $walnut-brown;
    }

    .iconActive {
      stroke: $walnut-brown;
      width: 8rem;
    }
  }

  .active {
    @include link-styles();
    background-color: $khaki;
  }

  .activeli {
    list-style-type: none;
  }
}

